- title "Items"

%table
  %tr
    %th Title
    %th Content
  - for item in @items
    %tr
      %td= h item.title
      %td= h item.content
      %td= link_to 'Show', item
      %td= link_to 'Edit', edit_item_path(item)
      %td= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Item", new_item_path
